body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: white;
    background-image: url("https://scontent.fmnl15-1.fna.fbcdn.net/v/t39.30808-6/375450855_6774378729267803_8773581959879671539_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeEIym82rXDFA_guC8jGcrG-GedV6dBIEaUZ51Xp0EgRpdac0r7U6fpFcs6hbEUMRty4Cqlf5IOwj0Zl7Sr0pcwb&_nc_ohc=8IqoROD2gGsAX8lQp8s&_nc_ht=scontent.fmnl15-1.fna&oh=00_AfAMGe0sjIYRv1uygagqcY4Txx5EJTryi_VhBPyKtgVUFw&oe=65582038");
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    border-bottom: 2px solid #fff;
}

section {
    padding: 2rem;
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 1rem;
}

